@charset "utf-8";

.mWrap {position:relative; overflow:hidden; display:none; margin: 20px 20px 0px 0px;}
.events_1 > img, .events_1m > img{ width:100%;vertical-align:top }
.events_1{position:relative; display:block;}
.events_1m{position:relative; display:none;}

.check_01{position:absolute; display:block; width:11%;	top:0.1%;	left:3.4%;}
.btn01{	position:absolute;	display:block;	width:7%;	top:3.5%;	left:89.45%;	  }
.events_1 .btn02{	position:absolute;	display:block;	width:57.5%;	top:80%;	left:21.3%;}

@media (max-width: 1023px){
	.mWrap { margin: 20px 0px 0px 0px;}
	.events_1{position:relative; display:none;}
	.events_1m{position:relative; display:block;}
	.btn01{	top:10%; }
	.events_1m .btn02{	position:absolute;	display:block;	width:41%;	top:77%;	left:55%;	  }
}



