@charset "utf-8";
/*error*/
.error {background-color: #fff; padding:150px 0 160px 0; box-sizing: border-box; height:720px; text-align:center;}
.error .error_wrap h2.h2_tit {position:relative; color:#f2c000; font-size:36px; font-family: Roboto; padding:0; height:auto;}
.error .error_wrap h2.h2_tit:before {content: '';
    background: url(../images/login/icon_find_result.png) left top no-repeat; background-size: 90px 180px; background-position: 0 0; display: block; width: 90px; height: 90px; background-position: 0 -90px; margin:0 auto 22px auto;}

.error .error_cont  {padding:30px 0 0 0;}
.error .error_cont p {line-height:160%;}
.error .error_cont strong {font-weight:800; padding-bottom:10px; display:inline-block;}

.error .error_cont .btn_wrap {margin-top:56px;}

.error .error_cont .btn_wrap .btn.btn_st02 {width:170px; display:inline-block;}
.error .error_cont .btn_wrap .btn.btn_st02:first-child {margin-right:26px;}

/*서버 점검*/
#wrap.server {position:relative; width:100%; height:100%;} 
#wrap.server #container.sub_page {position:fixed; width:100%; height:100%; padding:110px 0 0 0;}
#container .content.etc {background-color: #fff;}
#container .content.etc .server_logo {background-color:#eeecec; text-align:center; width:100%; padding-bottom:40px;}
#container .content.etc .server_logo img {width:90px; height:50px;}
#container .content.etc .server_check {padding:150px 0 155px 0; height:680px; box-sizing: border-box; text-align:center; width:100%;}
#container .content.etc .server_check h2.h2_01 {position:relative; height:auto; padding:0;}
#container .content.etc .server_check h2.h2_01:before {content: '';  width:90px; height:90px; background: url(../images/etc/icon_check.png) left top no-repeat;background-size: 90px 90px;  display:block; margin:0 auto; text-align:center;}

.error_cont {padding:23px 0 0 0;}
.error_cont p.check_tit {line-height:140%; font-weight:800;}
.error_cont p.check_tit em {color:#f2c000;}
.error_cont p.check_txt {padding-top:30px; line-height:160%;}
.check_info {width:570px; margin:60px auto 0 auto; padding:17px 0; background-color: #f6f5f5; text-align:center; font-weight:bold;}


/* media query */
@media all and (max-width:1023px){

	#container.sub_page .content.etc {background-color: #fff;}
	.error {padding:60px 15px 20px 15px; height:auto;}
	.error .error_wrap h2.h2_tit {font-size:28px;}
	.error .error_wrap h2.h2_tit:before {content: ''; margin:0 auto 12px auto;}
	.error .error_cont {padding:20px 0 0 0;}
	.error .error_cont .btn_wrap .btn.btn_st02 {width:47%;}
	.error .error_cont .btn_wrap .btn.btn_st02:first-child {margin-right:2%;}
	.error .error_cont .btn_wrap .btn a {padding:20px 0; height:60px;}


	#wrap.server #container.sub_page {padding:40px 0 0 0;}
	#wrap.server .server_check_wrap {padding:0 15px; box-sizing: border-box;}
	#container .content.etc .server_logo {padding-bottom:20px;}
	#container .content.etc .server_logo img {width:70px; height:37px;}
	#container .content.etc .server_check {height:auto; padding:50px 0;}
	#container .content.etc .server_check h2.h2_01:before {content: ''; width:80px; height:80px; background-size: 80px 80px;}
	.error_cont {padding:13px 0 0 0;}
	.error_cont p.check_txt {padding-top:20px;}
	.check_info {width:100%; margin:30px auto 0 auto;}


}


@media all and (max-width:768px){

}


